<%
# Copyright @John_Ma
%>

<div class="page-header">
    <div class="jumbotron jumbotron-fluid text-center ">
        <div class="container">
            <div class="text-center">
                <span class="oneshot_icon" style="display:none"></span>
            </div>
            <div>
                <h1 id="introduction" class="display-4" style="display:none">Hi, I'm John</h1>
            </div>
        </div>
    </div>
</div>