<% # HTML is taken from https://github.com/lepture/github-cards/blob/master/theme/default.html 
%>
<div class="card_body github-card user-card data-github="jiama843" data-width="400" data-height="150" data-theme="default">
  <div class="header">
    <a class="avatar" href="https://github.com/jiama843">
      <img src="https://avatars3.githubusercontent.com/u/24597281?s=460&v=4&s=48">
      <strong>John Ma</strong>
      <span>@jiama843</span></a>
    <a class="button" href="https://github.com/jiama843">Follow</a>
  </div>
  <ul class="status">
    <!-- <li><a href="https://github.com/jiama843?tab=repositories"><strong>30</strong>Repos</a></li> -->
  </ul>
  <div class="footer">Available for hire.</div>
</div>