<%
# Copyright @John_Ma
%>

<div class="page-header">
    <div id="intro_container" class="container text-center">
        <div>
            <h1 class="display-4">My Blog</h1>
        </div>
    </div>
</div>
<div id="app_body" class="text-center">
  <div class="blog_card">
    <%= link_to "25/10/2018", blog_page_path("25_10_2018"), {class: "display-4", style: "color:black"} %>
    <p>First Post</p>
  </div>
</div>
