<%
# Copyright @John_Ma
%>

<div id="app_body">
  <div id="intro_container" class="container">
    <%= markdown(File.read('app/views/contact/contact.md')) %>
    <iframe width="420" height="315"
      src="https://www.youtube.com/embed/dNPOZdztCP0">
    </iframe>
  </div>
</div>
